*.out
Gist.ipynb
.ipynb_checkpoints/Gist-checkpoint.ipynb
__pycache__/
/autoTetris/bak
/autoTetris_client/bak
/autoTetris_clinet/test
/autoTetris_server/bak
/autoTetris_server/test
/autoTetris_server/autoTetris
/autoTetris_server/autoTetris*
/other
*.o
*.DS_Store
